{% extends "base.html" %}

{% block title %}Flaskapp{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,</h1>
        {% if current_user.is_authenticated %}
            <h1>{{ current_user.username }} !</h1>
        {% else %}
            <h1>Stranger !</h1>
        {% endif %}
</div>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}>
                <img class="img-rounded profile-thumbnail" src={{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-body">{{ post.body }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
